<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	BankOffice</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		LoginValidation</display-name>
		<servlet-name>LoginValidation</servlet-name>
		<servlet-class>
		controller.LoginValidation</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>ResultSet</param-name>
			<param-value>rs</param-value>
		</init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AdminEmailServlet</display-name>
		<servlet-name>AdminEmailServlet</servlet-name>
		<servlet-class>
		controller.AdminEmailServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CorporateUpdate</display-name>
		<servlet-name>CorporateUpdate</servlet-name>
		<servlet-class>
		controller.CorporateUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UserUpdate</display-name>
		<servlet-name>UserUpdate</servlet-name>
		<servlet-class>
		controller.UserUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UserDelete</display-name>
		<servlet-name>UserDelete</servlet-name>
		<servlet-class>
		controller.UserDelete</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CorporateDelete</display-name>
		<servlet-name>CorporateDelete</servlet-name>
		<servlet-class>
		controller.CorporateDelete</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UserAddServlet</display-name>
		<servlet-name>UserAddServlet</servlet-name>
		<servlet-class>
		controller.UserAddServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CorporateAddServlet</display-name>
		<servlet-name>CorporateAddServlet</servlet-name>
		<servlet-class>
		controller.CorporateAddServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FrontUserAdd</display-name>
		<servlet-name>FrontUserAdd</servlet-name>
		<servlet-class>
		controller.FrontUserAdd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FrontCorporateAdd</display-name>
		<servlet-name>FrontCorporateAdd</servlet-name>
		<servlet-class>
		controller.FrontCorporateAdd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UserValidation</display-name>
		<servlet-name>UserValidation</servlet-name>
		<servlet-class>
		controller.UserValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FrontUserUpdate</display-name>
		<servlet-name>FrontUserUpdate</servlet-name>
		<servlet-class>
		controller.FrontUserUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BillerDelete</display-name>
		<servlet-name>BillerDelete</servlet-name>
		<servlet-class>
		controller.BillerDelete</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckServlet</display-name>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>
		controller.CheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UserCheckServlet</display-name>
		<servlet-name>UserCheckServlet</servlet-name>
		<servlet-class>
		controller.UserCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BackCorporateCheck</display-name>
		<servlet-name>BackCorporateCheck</servlet-name>
		<servlet-class>
		controller.BackCorporateCheck</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BackUserCheck</display-name>
		<servlet-name>BackUserCheck</servlet-name>
		<servlet-class>
		controller.BackUserCheck</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Admin_ChangePasswordValidation</display-name>
		<servlet-name>Admin_ChangePasswordValidation</servlet-name>
		<servlet-class>
		controller.Admin_ChangePasswordValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CorporateValidation</display-name>
		<servlet-name>CorporateValidation</servlet-name>
		<servlet-class>
		controller.CorporateValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FrontCorporateUpdate</display-name>
		<servlet-name>FrontCorporateUpdate</servlet-name>
		<servlet-class>
		controller.FrontCorporateUpdate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AccountServlet</display-name>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>
		controller.AccountServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TransactionServlet</display-name>
		<servlet-name>TransactionServlet</servlet-name>
		<servlet-class>
		controller.TransactionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddAmountBiller</display-name>
		<servlet-name>AddAmountBiller</servlet-name>
		<servlet-class>
		controller.AddAmountBiller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BillerCheckServlet</display-name>
		<servlet-name>BillerCheckServlet</servlet-name>
		<servlet-class>
		controller.BillerCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BillerCheckServlet1</display-name>
		<servlet-name>BillerCheckServlet1</servlet-name>
		<servlet-class>
		controller.BillerCheckServlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BackBillerCheck</display-name>
		<servlet-name>BackBillerCheck</servlet-name>
		<servlet-class>
		controller.BackBillerCheck</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BackBillerAdd</display-name>
		<servlet-name>BackBillerAdd</servlet-name>
		<servlet-class>
		controller.BackBillerAdd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UserAmountServlet</display-name>
		<servlet-name>UserAmountServlet</servlet-name>
		<servlet-class>
		controller.UserAmountServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UserAmountServlet1</display-name>
		<servlet-name>UserAmountServlet1</servlet-name>
		<servlet-class>
		controller.UserAmountServlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ErrorServlet</display-name>
		<servlet-name>ErrorServlet</servlet-name>
		<servlet-class>
		controller.ErrorServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		a2</display-name>
		<servlet-name>a2</servlet-name>
		<servlet-class>
		controller.a2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CustomerTransaction</display-name>
		<servlet-name>CustomerTransaction</servlet-name>
		<servlet-class>
		controller.CustomerTransaction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginValidation</servlet-name>
		<url-pattern>/LoginValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminEmailServlet</servlet-name>
		<url-pattern>/AdminEmailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CorporateUpdate</servlet-name>
		<url-pattern>/CorporateUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserUpdate</servlet-name>
		<url-pattern>/UserUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDelete</servlet-name>
		<url-pattern>/UserDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CorporateDelete</servlet-name>
		<url-pattern>/CorporateDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAddServlet</servlet-name>
		<url-pattern>/UserAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CorporateAddServlet</servlet-name>
		<url-pattern>/CorporateAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontUserAdd</servlet-name>
		<url-pattern>/FrontUserAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontCorporateAdd</servlet-name>
		<url-pattern>/FrontCorporateAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserValidation</servlet-name>
		<url-pattern>/UserValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontUserUpdate</servlet-name>
		<url-pattern>/FrontUserUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BillerDelete</servlet-name>
		<url-pattern>/BillerDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/CheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserCheckServlet</servlet-name>
		<url-pattern>/UserCheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BackCorporateCheck</servlet-name>
		<url-pattern>/BackCorporateCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BackUserCheck</servlet-name>
		<url-pattern>/BackUserCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ChangePasswordValidation</servlet-name>
		<url-pattern>/Admin_ChangePasswordValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CorporateValidation</servlet-name>
		<url-pattern>/CorporateValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FrontCorporateUpdate</servlet-name>
		<url-pattern>/FrontCorporateUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/AccountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransactionServlet</servlet-name>
		<url-pattern>/TransactionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAmountBiller</servlet-name>
		<url-pattern>/AddAmountBiller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BillerCheckServlet</servlet-name>
		<url-pattern>/BillerCheckServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BillerCheckServlet1</servlet-name>
		<url-pattern>/BillerCheckServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BackBillerCheck</servlet-name>
		<url-pattern>/BackBillerCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BackBillerAdd</servlet-name>
		<url-pattern>/BackBillerAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAmountServlet</servlet-name>
		<url-pattern>/UserAmountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAmountServlet1</servlet-name>
		<url-pattern>/UserAmountServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorServlet</servlet-name>
		<url-pattern>/ErrorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>a2</servlet-name>
		<url-pattern>/a2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerTransaction</servlet-name>
		<url-pattern>/CustomerTransaction</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>FrontWelcome.jsp</welcome-file>
		
	</welcome-file-list>
	<error-page>   
  <exception-type>java.lang.Exception</exception-type>   
  <location>/ErrorPage.jsp</location>   
  </error-page>   

</web-app>
